.menu-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--padding-4);
  padding: var(--padding-8) var(--padding-12);
  height: var(--header-height);

  .caret {
    opacity: var(--opacity-50);
  }

  @media (width < 600px) {
    border-radius: var(--border-radius-24) var(--border-radius-8);
    .caret {
      display: none;
    }
  }

  .popover {
    position: absolute;
    z-index: 3;

    display: flex;
    flex-direction: column;
    gap: var(--padding-4);

    border-radius: var(--border-radius-16);
    padding: var(--padding-8);

    box-shadow: var(--box-shadow-solid-4);
    border: var(--border-weight-1) solid black;
    background-color: var(--color-background-nav);

    &.hide {
      display: none;
    }
    &.show {
      display: flex;
    }

    .button-menu-option {
      width: 100%;
      padding: var(--padding-8) var(--padding-16);
      white-space: nowrap;
      text-transform: initial;
    }

    .button-menu-option.unselected {
      filter: brightness(0.7);
    }

    .options {
      display: flex;
      flex-direction: column;
      gap: var(--padding-4);
      padding: var(--padding-4);
      flex: 1 1 auto;
      overflow-y: auto;
    }
  }

  &.popover-direction-top .popover {
    bottom: calc(100% + var(--padding-12));
  }
  &.popover-direction-bottom .popover {
    top: calc(100% + var(--padding-12));
  }

  &.popover-align-side-left .popover {
    left: 0;
  }
  &.popover-align-side-right .popover {
    right: 0;
  }
}
