.dog-card {
  --color-card-outline: white;

  /* Prevents text selection on the card itself, which looks ugly and can happen
  if the user clicks too quickly */
  user-select: none;

  width: var(--card-width);
  height: var(--card-height);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  box-shadow: var(--box-shadow-inner-vignette), var(--box-shadow-solid-0);
  border-radius: var(--border-radius-8);
  padding: var(--padding-8) var(--padding-16);

  background-size: cover;
  /* Ensure that tall photos get vertically centered instead of cut off */
  background-position: 50% 50%;
  color: var(--color-text-dark);

  transition: all 0.2s ease-out;
  outline: var(--border-weight-4) solid transparent;

  &:not(.static):hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.2s ease-out, z-index 0s 0s;
    z-index: 1;

    outline: var(--border-weight-4) solid var(--color-card-outline);
    box-shadow: var(--box-shadow-inner-vignette), var(--box-shadow-solid-8);
  }

  &:not(.static):active {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.2s ease-out, z-index 0s 0s;
    z-index: 1;

    box-shadow: var(--box-shadow-inner-vignette), var(--box-shadow-solid-8);
    outline: var(--border-weight-32) solid var(--color-brand-primary);
  }

  &.favorite:active {
    outline: var(--border-weight-16) solid var(--color-card-outline);
  }

  &:not(.static) .icon-favorite {
    position: absolute;
    top: var(--padding-8);
    right: var(--padding-8);
    font-size: var(--font-size-32);
    opacity: var(--opacity-0);
  }

  &.static .icon-favorite {
    display: none;
  }

  &:not(.static):hover .icon-favorite {
    opacity: var(--opacity-67);
    color: var(--color-text);
  }

  &.favorite {
    transform: scale(0.95);
    outline: var(--border-weight-4) solid var(--color-brand-primary);
    outline-offset: -2px;
    &:hover {
      transform: scale(1.05);
    }
  }
  &.favorite .icon-favorite {
    opacity: 1;
    filter: drop-shadow(1px 1px var(--color-background-primary))
      drop-shadow(-1px -1px var(--color-background-primary))
      drop-shadow(-1px 1px var(--color-background-primary))
      drop-shadow(1px -1px var(--color-background-primary));
    color: var(--color-brand-primary);
  }

  .dog-name {
    /* Move over just a touch to account for the weight of the font */
    margin-left: calc(0.5 * var(--padding-8));

    font-family: var(--font-family-luckiest-guy);
    font-weight: var(--font-weight-100);
    font-size: var(--font-size-48);

    -webkit-text-stroke: var(--border-weight-8) var(--color-box-shadow);
    text-stroke: var(--border-weight-8) var(--color-box-shadow);
    paint-order: stroke fill;

    color: var(--color-text);
  }

  .dog-age {
    padding-left: var(--padding-8);
    font-family: var(--font-family-roboto);
    font-weight: var(--font-weight-900);
    font-size: var(--font-size-32);
    -webkit-text-stroke: var(--border-weight-8) var(--color-box-shadow);
    text-stroke: var(--border-weight-8) var(--color-box-shadow);

    color: var(--color-text);
    opacity: var(--opacity-67);
  }

  .dog-age::after {
    content: "y";
    font-size: var(--font-size-16);
    margin-left: var(--padding-4);
  }

  .dog-breed {
    text-transform: uppercase;
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-900);
    color: var(--color-text-dark);
  }

  .dog-zip {
    display: flex;
    align-items: center;
    gap: var(--padding-2);

    font-weight: var(--font-weight-900);
    font-size: var(--font-size-12);
    opacity: var(--opacity-50);
  }
}
