:root {
  --header-height: 36px;
  --footer-height: 36px;

  --card-height: 300px;
  --card-width: 400px;
}

.view-search {
  > header {
    display: flex;
    align-items: center;
    padding: var(--padding-4);
    position: sticky;
    z-index: 2;
    top: 0;
    background-color: var(--color-background-nav);
    border-bottom: var(--border-weight-4) solid var(--color-box-shadow);

    .logo,
    .logo-mobile {
      height: var(--header-height);
    }
    .logo {
      margin-right: var(--padding-16);
    }
    .logo-mobile {
      margin-right: var(--padding-4);
      display: none;
    }

    .left {
      display: flex;
      gap: var(--padding-2);
    }

    .right {
      /* Move to the upper right corner */
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: var(--padding-2);
    }

    .button-match {
      display: flex;
      align-items: center;
      gap: var(--padding-8);
    }
  }

  section.results {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, var(--card-width));
    padding: var(--padding-16) var(--padding-8);
    gap: var(--padding-8);

    /* Otherwise the sticky footer rides up when there's no results */
    /* Tried making the footer absolute instead of sticky, but that caused it to
    ride up when scrolling results, so this was easier. */
    --total-header-height: var(--header-height) - 3 * var(--padding-4);
    --total-footer-height: var(--header-height) - 2 * var(--padding-4) -
      var(--padding-2);
    min-height: calc(
      100vh - var(--total-header-height) - var(--total-footer-height)
    );
  }

  .dialog-dog-match {
    border: none;
    outline: var(--border-weight-4) solid var(--color-brand-primary);

    .banner {
      text-align: center;
      margin: var(--padding-16) var(--padding-0);

      font-family: var(--font-family-luckiest-guy);
      font-size: var(--font-size-64);
      font-weight: var(--font-weight-100);

      background-color: var(--color-brand-primary);
      color: var(--color-background-primary);
    }

    .dog-card {
      /* Rounded at the bottom to hug the dialog border radius, flat at the top
      for a nice line with the banner */
      border-radius: var(--border-radius-0) var(--border-radius-0)
        var(--border-radius-8) var(--border-radius-8);
      /* Bigger photo to make the dialog pop */
      height: calc(1.5 * var(--card-height));
      width: calc(1.5 * var(--card-width));

      /* Not on mobile though, that's too big and spills over the edges */
      @media (width < 600px) {
        height: var(--card-height);
        width: var(--card-width);
      }
    }
  }

  > footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding-4);
    height: calc(var(--footer-height) + 2 * var(--padding-4));
    position: sticky;
    z-index: 2;
    bottom: 0;
    background-color: var(--color-background-nav);
    border-top: var(--border-weight-2) solid black;

    .pagination {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--padding-4);

      .button-type-pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        height: var(--footer-height);
        aspect-ratio: 1.25/1;
        border-radius: var(--border-radius-32) var(--border-radius-16);
        font-size: var(--font-size-16);
      }
    }
  }
}

@media (width >= 600px) {
  label.responsive-wide {
    display: initial;
  }

  label.responsive-narrow {
    display: none;
  }
}

@media (width < 600px) {
  label.responsive-wide {
    display: none;
  }

  label.responsive-narrow {
    display: initial;
  }

  .view-search > header {
    .logo {
      display: none;
    }

    .logo-mobile {
      display: initial;
    }

    .button-match {
      padding: var(--padding-8) var(--padding-16);
    }
  }
}
